#  Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.
### **Objectives**
- Common Libraries
- Popular Languages
- Examples of Arithmeitic Expressions

####  Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:

1. NymPy
2. Pandas
3. SQL

| Data Science Tools |
|--------------------|
| Knime              |
| Spark              |
| Pandas             |

### Below are a few examples of evaluating arithmetic expressions in Python

###### This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4) + 5

17

###### This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

## Author
###### George Papantoniou